@font-face {
    font-family: 'SackersM';
    src: url("../SackersGothicStd-Medium.otf") format("opentype");
}

.text_container {
    height: auto;
}

.fotter_cont_box {
    display: none;
}

.span span {
    width: 20px;
    height: 20px;
    background-color: red;
    margin: 2vw 0;
    font-size: 25px;
}

.span {
    position: relative;
    z-index: 5;
}


.intro {
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.intro1 {
    opacity: 1;
}

.intro2 {
    opacity: 0;
}

.intro3 {
    opacity: 0;
}

.intro4 {
    opacity: 0;
}


.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}

header,
footer {

    position: fixed;
    z-index: 8;
}

#menu,
.m-menu__overlay {
    position: fixed;
}

footer {
    top: 91%;
    z-index: 3;
    justify-content: space-between;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7vw 0 0vw 5.6vw;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 3;
}

.main_h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'SackersM';
    letter-spacing: 0.2vw;
    line-height: 2;
    font-size: 1.5vw;
    text-align: justify;

}

.main_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2vw;
    padding-left: 14vw;
}

.main_box .video {
    width: 67%;
    height: 24vw;
    background-color: #081f20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    padding: 0
}

.main_box .video .play {
    border-radius: 50%;
    background-color: #74bd8a;
    width: 5.5vw;
    height: 5.5vw;
    background-image: url(../img/main-play-button.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 58%;
    border: none;
    cursor: pointer;
}

.main_box .video .close {
    position: absolute;
    left: 97%;

    top: 4%;
    cursor: pointer;
}

.beh_tittle {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.main .main_tittle {
    color: white;
    font-size: 0.75vw;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.5;
}

#masterWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#panelWrap {
    height: 100%;
}

section {
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: relative;
    float: left;
}

.dot {
    width: 1.35vw;
    height: 1.36vw;
    position: relative;
    background-color: transparent;
    margin: 0.63vw 0.42vw;
    cursor: pointer;
    float: left;
    /*    background-image: url(../img/touchImg.png);*/
    background-repeat: no-repeat;
    background-size: contain;
}

.dot:first-of-type {
    background-image: url(../img/play-button-outline.png);
    transform: matrix3d(2.1, 0.00366519, 0, 0, -0.00366519, 2.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    width: 1.4vw;
    height: 1.4vw;
}

.dots_box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    left: 26%;
    bottom: 6%;
}

.dots_box .dots_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: #92c268;
    font-size: 0.63vw;
    text-transform: uppercase;
    padding: 0vw 6vw 1vw 3vw;
    letter-spacing: 0.2vw;
}

.dots {
    z-index: 100;
    height: 100%;
    width: 86%;
    position: relative;
    left: 0%;
    bottom: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(../img/horizontal-line.png) right center;
    background-repeat: no-repeat;
    padding: 0 9vw 0 0;
    background-size: 94% 5%;
}

.dot:nth-child(2) {
    margin: 0.63vw 5vw 0.63vw 0vw;
}

.dot:nth-child(4) {
    margin: 0.63vw -2vw 0.63vw 5vw;
}


#leftArrow {
    left: 12px;
}

#rightArrow {
    right: 12px;
}

.arrow {
    position: absolute;
    z-index: 100;
    top: 50%;
    cursor: pointer;
    opacity: 0.75;
    width: 40px;
    height: 40px;
    stroke-width: 8px;
    stroke: white;
    fill: transparent;
    display: none;
}


.title {
    height: 30px;
    line-height: 30px;
    text-align: center;
}


.hideMe {
    opacity: 0;
}



.contant_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #00393a;
    border-radius: 4.67vw 0 4.67vw 0;
    width: 49%;
    padding: 3.3vw 2.1vw 1.83vw 3.75vw;
    position: relative;
    margin: 3vw 4vw;
}

.contant_text span {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.contant_h {
    color: #93c469;
    font-size: 1.3vw;
    text-transform: uppercase;
    letter-spacing: 0.4vw;
    line-height: 1.5;
    font-weight: 500;
}

.contant_text {
    color: white;
    font-size: 0.7vw;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    line-height: 1.6;
    margin: 2vw 0 1.5vw;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.main .contant_box2 {
    width: 46%;
}

.contant_box {
    width: 43%;
    margin: 3vw 0vw;
}

.contant_box .behind_icon {
    position: absolute;
    right: -1.5vw;
    top: -1.5vw;
    width: 12.2%;
}

.header_btn {
    color: #93c469;
    border: 1px solid #93c469;
    font-size: 0.73vw;
    background-color: transparent;
    border-radius: 1.3vw;
    padding: 0.73vw 1.8vw;
    font-family: 'Avenir';
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    z-index: 2;
    position: relative;
    text-decoration: none;
}

.header_btn:hover {
    background-color: #93c469;
    color: #081f20 !important;
    -webkit-box-shadow: 0 0 10px #93c469;
    -moz-box-shadow: 0 0 10px #93c469;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
}

.main .contant_box3 {
    padding: 3.3vw 1.67vw 1.83vw 3.75vw;
    width: 43%;
    margin: 1vw 0 1vw 43vw;
}

.main .contant_box3 .contant_text {
    font-size: 0.76vw;
}

.main_Behind {
    display: none;
}

.main_h1 {
    position: relative;
}

@media all and (max-width:1920px) {
    .main .main_h1 {
        font-size: 1.72vw;
    }

    .main .main_tittle {
        font-size: 0.95vw;
        /*        padding-left: 5.7vw;*/
    }


}

@media screen and (max-width:1440px) {
    .main .main_box {
        margin-top: 2.5vw;
    }
}

@media all and (max-width:1280px) {
    .main_box .video {
        width: 57%;
        height: 20vw;
    }
    main_box .video .close {
    position: absolute;
    left: 96%;
    top: 4%;
    cursor: pointer;
}
}

@media all and (max-width:1024px) {
    .dot:nth-child(4) {
        margin: 0.63vw 0.42vw 2vw;
    }

    .main {
        padding: 12vw 0 0vw 9.6vw;
    }

    .header_btn_box_m {
        height: 9vw;
    }

    .dots_box .dots_text {
        font-size: 1vw;
    }

    .dots_box {
        bottom: 20%;
    }

    .main .main_tittle {
        line-height: 2;
    }

    footer {
        top: 88%;
    }

    .main .video .close {
        left: 52.5vw;
    }

    .desctop,
    .intro {
        display: none !important;
    }

    .container {
        background-image: url(../img/bg_impact.png);
        background-position: center;
    }

    header,
    footer {
        position: relative;
    }

    footer {
        top: 0;
    }

    .main_Behind {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0vw 12vw 0;
    }

    .main_Behind .main_h1 {
        line-height: 1.5;
        padding: 0 15.7vw;
        line-height: 1.5;
        font-size: 2.7vw;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: 'SackersM';
        letter-spacing: 0.5vw;
        margin: 0;
    }

    .main_Behind .main_tittle {
        color: white;
        padding: 0 5vw;
        font-size: 1.2vw;
        text-align: center;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 0.3vw;
        text-transform: uppercase;
    }

    .dots_box {
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -4%;
        bottom: 0%;
        margin: 8vh 0 0;
    }

    .dots {
        height: 44vh;
        width: auto;
        padding: 0 0 8vw;
        background-size: 5% 79.5%;
        display: flex;
        background-position: center;
        align-items: center;
        flex-direction: column;
    }

    .dot:nth-child(2) {
        margin: 2.63vw 0.42vw 0.63vw;
    }

    .dots_text p:nth-child(2) {
        margin: 2vw 0 0;
    }

    .dots_box .dots_text {
        padding: 0vw 2vw 15vw 0;
        font-size: 1.5vw;
        height: 48vh;
        flex-direction: column;
        width: auto;
    }

    .dot:first-of-type {
        width: 2.45vw;
        height: 2.45vw;
        transform: scale(2);
    }

    .dot {
        width: 2vw;
        height: 2vw;
        cursor: pointer;
    }

    .main_box {
        border-radius: 7vw;
        width: 100%;

        position: relative;
        margin: 0;
        display: none;
        padding: 0;
    }

    .video {
        width: 100%;
        height: 52vw;
        border-radius: 7vw;
        z-index: 0;
    }

    .video .close {
        display: none;
    }

    .closeBtn {
        position: absolute;
        right: 14%;
        /* top: 33vw; */
        cursor: pointer;
        color: #93c469;
    }

    .closeBtn img {
        width: 3vw;
    }

    .main_box .video {
        width: 100%;
        height: 37vw;
    }

    /*    modal*/

    .contant_box .behind_icon {
        right: 0;
        left: -4vw;
        top: -7.5vw;
        width: 20.2%;
    }

    .contant_box {

        border-radius: 7vw;
        width: 100%;
        padding: 7.3vw 6vw 6.3vw 11vw;
        position: relative;
        margin: 0;
        align-items: center;
        display: none;
    }

    .contant_h {
        font-size: 5vw;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.7vw;
        text-align: left;
        width: 100%;
    }

    .contant_text {
        color: white;
        font-size: 2.3vw;
        text-transform: uppercase;
        letter-spacing: 0.3vw;
        line-height: 1.6;
        margin: 4vw 0 3.5vw;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
    }

    .closeBtn {
        position: absolute;
        right: 14%;
        top: 18vw;
        cursor: pointer;
        color: #93c469;
    }

    .closeBtn img {
        width: 3vw;
    }

    .header_btn {
        font-size: 1.73vw;
        border-radius: 6.3vw;
        padding: 1.73vw 6.8vw;
        letter-spacing: 0.5vw;
    }

    .modalImg {
        width: 100%;
        margin: 3vw 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7vw;

    }

    .main_box {
        border-radius: 7vw;
        width: 100%;

        position: relative;
        margin: 0;
        display: none;
        padding: 0;
    }

    .video {
        width: 100%;
        height: 52vw;
        border-radius: 7vw;
        z-index: 0;
    }

    .video .close {
        display: none;
    }

}

@media all and (max-width:768px) {


    .header_btn_box_m {
        height: 9vw;
    }

    .main_Behind {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3vw 12vw 0;
    }

    .main_Behind .main_h1 {
        padding: 0 15.7vw;
        line-height: 1.5;
        font-size: 3.7vw;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: 'SackersM';
        letter-spacing: 0.5vw;
        line-height: 1.5;
        margin: 0 0 3vw;
    }

    .main_Behind .main_tittle {
        color: white;
        padding: 0 4vw;
        font-size: 2.2vw;
        text-align: center;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 0.5vw;
    }

    .dot {
        width: 3.36vw;
        height: 3.36vw;
        position: relative;
        background-color: transparent;
        margin: 0.63vw 0.42vw;
        cursor: pointer;
        float: left;
        cursor: pointer;
    }

    .dot:nth-child(2) {
        margin: 4.63vw 0.42vw 0.63vw;
    }

    .dot:nth-child(4) {
        margin: 0.63vw 0.42vw 2vw;
    }

    .dots_text p:nth-child(2) {
        margin: 2.63vw 0 -0.5vw;
    }

    .dots_text p:nth-child(4) {
        margin: 0 0 4.63vw;
    }

    .dot:first-of-type {
        background-image: url(../img/play-button-outline.png);
        transform: matrix3d(2.1, 0.00366519, 0, 0, -0.00366519, 2.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        width: 3.4vw;
        height: 3.4vw;
    }

    .dots_box {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -18%;
        bottom: 0%;
        margin: 8vw 0;
    }

    .dots_box .dots_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: 0.2vw;
        padding: 0.1vw 1vw 9.6vw 0;
        font-size: 2.1vw;
        height: 68vw;
    }

    .dots {
        width: fit-content;
        left: 9%;
        bottom: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: url(../img/vertical-line.png) center bottom;
        background-repeat: no-repeat;
        height: 70vw;
        padding: 0 0 13vw;
        background-size: 4% 91.5%;


    }

    .closeBtn {
        position: absolute;
        right: 14%;
        top: 18vw;
        cursor: pointer;
        color: #93c469;
    }

    /*    modal*/

    .contant_box .behind_icon {
        right: 0;
        left: -4vw;
        top: -7.5vw;
        width: 20.2%;
    }

    .contant_box {

        border-radius: 7vw;
        width: 100%;
        padding: 7.3vw 6vw 6.3vw 11vw;
        position: relative;
        margin: 0;
        align-items: center;
        display: none;
    }

    .contant_h {
        font-size: 5vw;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.7vw;
        text-align: left;
        width: 100%;
    }

    .contant_text {
        color: white;
        font-size: 2.3vw;
        text-transform: uppercase;
        letter-spacing: 0.3vw;
        line-height: 1.6;
        margin: 4vw 0 3.5vw;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
    }

    .closeBtn img {
        width: 3vw;
    }

    .discover {
        font-size: 1.73vw;
        border-radius: 6.3vw;
        padding: 1.73vw 6.8vw;
        letter-spacing: 0.5vw;
    }

    .modalImg {
        width: 100%;
        margin: 3vw 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7vw;

    }

    .main_box {
        border-radius: 7vw;
        width: 100%;

        position: relative;
        margin: 0;
        display: none;
        padding: 0;
    }

    .video {
        width: 100%;
        height: 52vw;
        border-radius: 7vw;
        z-index: 0;
        padding: 0;
    }

    .video .close {
        display: none;
    }
}

@media all and (max-width:425px) {
    .dots_box {
        margin: 16vw 0;
    }

    .header_btn_box_m {
        height: 11vw;
    }
}
