@media all and (max-width:768px) {

    .dots {
        padding: 14vw 0 9vw;
        height: 82%;
    }

}
@media all and (max-width:425px)
{
    .dots
    {
        bottom: 0;
        padding: 22vw 0 9vw;
    }
}
